h1{
    color: coral;
    font-size: 50px;
    text-decoration: underline;
    font-family: "Georgia";
}

h2{
    color: coral;
    font-size: 30px;
    text-decoration: solid;
    font-family: "Georgia";
}

p{
    color: rgb(0, 0, 0);
    background-color: rgba(1, 122, 27, 0.336);
    font-size: 25px;
    font-family: "Arial";
}

body{
    background-color: rgb(1, 117, 26);
    background-image: url("img/Fern.png");
}